@model genztrend.Models.News

@{
    ViewBag.Title = "Details";

    /// này là code nè
} 



<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
